*{
    font-family: "Montserrat";
}
body{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.topbar{
    background-color: gainsboro;
}
.topbar-container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
}
.topbar-left{
    align-items: center;
}
.topbar-left a{
    text-decoration: none;
    color: black;
}
.topbar-left a img{
    height: 15px;
}
.topbar-right a{
    margin-right: 10px;
}
.topbar-right a img{
    height: 15px;
}
.nav-container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
}
nav .nav-container .nav-left .logo img{
    height: 35px;
    width: auto;
}
nav .nav-container .nav-right{
    display: flex;
    justify-content: space-evenly;
}
nav .nav-container .nav-right .Contact-info{
    font-size: 0.8rem;
    margin-right: 20px;
    h3{
        font-size: 1.0rem;
    }
}
nav .nav-container .nav-right .btn{
    background-color: #FFB600;
}
nav .nav-container .nav-right .btn a{
    color: white;
    font-weight: 800;
    text-decoration: none;
}
nav .nav-container .nav-right .btn a:hover{
    background-color: black;
    color: #FFB600;
    transition: 0.3s ease 0s;
}
nav .nav-container .nav-right .btn:hover{
    background-color: black;
    transition: 0.3s ease 0s;
}
.dropdown-bar{
    background-color: #23282d;
    top: 0;
    position: sticky;
}
.dropdown-bar .dropdown-bar-container{
    display: flex;
    align-items: center;
}
.dropdown-bar .dropdown-bar-container .dropdown-bar-left{
    width: 100%;
    display: flex;
    align-items: center;
}
.dropdown-bar .dropdown-bar-container .dropdown-bar-left ul{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}
.dropdown-bar .dropdown-bar-container .dropdown-bar-left ul li{
    padding: 10px 30px;
    position: relative;
}
.dropdown-bar .dropdown-bar-container .dropdown-bar-left ul li a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}
.dropdown-bar .dropdown-bar-container .dropdown-bar-left ul li #mains:hover{
    color: #FFB600;
    transition: all 0.3s;
}
.dropdown-bar .dropdown-bar-container .dropdown-bar-left ul li .dropdown-menu{
    display: none;
}
.dropdown-bar .dropdown-bar-container .dropdown-bar-left ul li:hover .dropdown-menu{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: white;
}
.dropdown-bar .dropdown-bar-container .dropdown-bar-left ul li .dropdown-menu ul{
    display: block;
    color: black;
}
.dropdown-bar .dropdown-bar-container .dropdown-bar-left ul li .dropdown-menu ul li{
    width: 150px;
    padding: 10px;
}
.dropdown-bar .dropdown-bar-container .dropdown-bar-left ul li .dropdown-menu ul li a{
    color: black;
}
#searchbox{
    width: 50%;
}
#searchbox fieldset{
    display: inline;
}
#searchbox fieldset input{
    background-color: #23282d;
    border: none;
}
#searchbox fieldset button{
    background-color: #23282d;
    border: none;
}
.image-animation .image-animation-container{
    width: 100%;
    height: 40%;
    position: absolute;
    left: 49.99%;
    top: 390px;
    background-image: url(https://demo.themefisher.com/constra-bootstrap/images/banner/banner1.jpg) ;
    background-size: 100% 100%;
    transform: translate(-50%,-50%);
    animation: image_slider 6s infinite reverse;
    z-index: -1;
}
.text{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 5%;
}
.text .main-text{
    color: white;
}
.text .main-text h1{
    font-size: 55px;
    font-weight: 700;
}
.text .main-text p{
    font-size: 25px;
}
.services{
    margin-top: 300px;
    margin-bottom: 100px;
}
.services .services-container .services-box{
    padding-left: 320px;
    display: grid;
    grid-template-columns: repeat(3,0.27fr);
    gap: 50px;
}
#stext{display: flex;gap: 10px;align-items: center;font-size: 15px;}
#stext h2{font-size: 20px;}
footer{
    background-color: black;
    color: white;
}
footer .outer-container .inner-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
footer ul{
    list-style-type: none;
    padding-top: 50px;
}
footer ul li{
    opacity: 0.7;
}
#Fsocials{
    display: flex;
    gap: 40px;
}
#Fsocials img{
    height: 20px;
}
footer .outer-container .footerbar{
    background-color: #FFB600;
    color: black;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 10px;
    .anchors{
        display: flex;
        gap: 10px;
        a{
            color: black;
            text-decoration: none;
        }
    }
}
@media screen and (max-width:600px){
    body,html{
        overflow-x: hidden;
    }
    .topbar-container{
        display: flex;
        flex-wrap: wrap;
    }
    .nav-container{
        flex-wrap: wrap;
        padding-bottom: 0px;
        font-size: auto;
    }
    nav .nav-container .nav-right{
        display: grid;
        grid-template-columns: repeat(2,.03fr);
    }
    nav .nav-container .nav-right .Contact-info{
        font-size: 0.6rem;
        margin-right: 20px;
        h3{
            font-size: 0.6rem;
        }
    }
    
    .nav-container .nav-right .btn{
        display: inline;
        padding: 0px;
        padding-top: 14px;
    }
    .dropdown-bar-container{
        flex-wrap: nowrap;
    }
    #mains{
        font-size: 15px;
    }
    .dropdown-bar .dropdown-bar-container .dropdown-bar-left ul{
       flex-direction: column;
    }
    .image-animation .image-animation-container{
        margin-top: 40%;
    }
    .text .main-text{
        margin-top: 50px;
    }
    .text .main-text p{
        font-size: 0.9rem;
    }
    .text .main-text h1{
        font-size: 1.5rem;
    }
    .text .btns{
        gap: 15px;
        font-size: 12px;
        margin-top: 20px;
    }
    .services .services-container .services-box{
        grid-template-columns: repeat(1,1fr);
        padding-left: 13%;
    }
    footer .outer-container .footerbar{
        flex-wrap: wrap;
    }
    }
    @media screen and (max-width:265px){
        #btn{
            padding: 0px;
        }
    }
    @media screen and (max-width:420px){
        .RP .container .tabs .tabs__content img{
            height: 100px;
        }
        #anchors img{height: 200px; }
        #anchors h2{font-size: 15px;}
    }